
<div class="card" *ngIf="student else noStudent">
    <div class="card-body">
        <!-- <form> -->
            <div class="mb-3">
                
              <label for="name" class="form-label">Student Name</label>
              <input type="text" class="form-control" id="name" [value]="student.name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="saveNewStudent()">Save</button>
          <!-- </form> -->
    </div>
</div>


<ng-template #noStudent> 
    <div class="card">
        No students to display!
    </div>
</ng-template>