<p>student-list works!</p>
<ul class="list-group">
    <li *ngFor="let student of students" class="list-group-item"
     [ngClass]="{'active':selectedStudent && selectedStudent.name==student.name}"> 
        <div class="row">
            <div class="col-1">{{student.id}} </div>    
            <div class="col-2"> {{student.name}}</div>
            <div class="col-3">
                <button (click)="DeleteStudent(student)" >Delete Student </button>
            </div>
            <div class="col-4">
                <button (click)="showDetails(student)">Show Details</button>
            </div>
        </div>
       
    </li>
</ul>

<button type="submit" class="btn btn-primary" (click)="showNewStudent()">Add New Student</button>


<student-details *ngIf="selectedStudent"  [student]="selectedStudent" (onSaveNewStudent)="addNewStudentToList($event)"></student-details>